/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f9fa;
    /* padding: 50px; */
}
/* General styles end */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #7749f8;
    /* padding-block: 15px; */
}
.navbar a {
    text-decoration: none;
    color: #fff;
}
.logo {
    margin-right: 50px;
}
.list {
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler, .navbar label {
    display: none;
}

.readers{
    background-color: #fff;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin: 60px;
    width: 600px;
    height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.loginBox input{
    width: 400px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.loginButton{
    background-color: #7749f8;
    color: #fff;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}




@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu {
        max-height:100%;
}
}